.auth__modal {
  @include modal;
  width: 350px;
}

.auth__title {
  @include title;

  &:last-of-type {
    align-self: flex-end;
    height: 25px;
  }
}

.auth__form-control {
  @include form-control;

  &:first-of-type {
    margin-top: 10px;
  }
}

.auth__label {
  @include label;
}

.auth__input {
  @include input;
}

.auth__errorText {
  @include errorText;
  margin-right: 10px;
}

.auth__btn {
  @include btn;

  margin: 10px 0;
  align-self: center;
}
