.main {
  width: 90%;
  margin: 0 auto;
  flex-grow: 1;
  background-color: $cream;
  box-shadow: 0 0 3px $brown;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;

  &__books {
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__container {
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 3rem;
    justify-content: center;
  }
}

#error {
  width: 100%;
  text-align: center;
  font-family: 'Blokgauz';
  font-weight: 700;
  color: $brown;
  height: 0;
  display: flex;
  align-self: center;
  justify-self: center;
  justify-content: center;
  align-items: center;
  font-size: 36px;
  height: 100px;
}

.cross {
  font-size: 18px;
  padding: 5px 10px;
  color: #d6cbb5;
  position: relative;
  display: inline-block;
  cursor: pointer;

  &::before,
  &::after {
    content: '';
    position: absolute;
    background-color: currentColor;
    transition: all 0.5s ease;
  }

  &::before {
    width: 2px;
    height: 15px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &::after {
    width: 15px;
    height: 2px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &:hover::before,
  &:hover::after {
    background-color: #f0e68c;
    box-shadow: 0 0 5px $gold;
  }
}

.main__title {
  @include title();
  
  width: 90%;
  margin: 0 auto;
  text-align: start;
  display: flex;
  justify-content: space-between;
}
