.modal__backdrop {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 100;
}

.modal__layout {
  @include modal(40%, 50%);
  display: inline-block;
  z-index: 100;
}

.modal__title {
  @include title;

  &:last-of-type {
    align-self: flex-end;
    height: 25px;
  }
}
