@import '@/styles/common/settings.scss';
@import '@/styles/common/fonts.scss';
@import '@/styles/common/default.scss';
@import '@/styles/ui/auth.scss';
@import '@/styles/ui/scroll.scss';
@import '@/styles/ui/header.scss';
@import '@/styles/ui/main.scss';
@import '@/styles/ui/modal.scss';
@import '@/styles/ui/footer.scss';
@import '@/styles/ui/loader.scss';
@import '@/styles/ui/nav.scss';
@import '@/styles/requests/create.scss';
@import '@/styles/requests/items.scss';
@import '@/styles/requests/item.scss';

body {
  color: $white;
  background: $black;
  font-family: sans-serif;
  
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  background: url($main-background) repeat 5% 5%;
  background-size: contain;
  object-fit: contain;
  background-attachment: fixed;
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.content {
  flex: 1 0 auto;
}
