@font-face {
  font-family: 'Blokgauz';
  src: url('@/assets/fonts/blokgauz.ttf');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Blokgauz-italic';
  src: url('@/assets/fonts/blokgauz-italic.ttf');
  font-style: italic;
  font-weight: 400;
}
